<div>
  <div class="container text-center">
    <div class="py-2">
      <h3 class="headline-4">¿Tienes Miedo de que te Estafen?</h3>
    </div>
    <div class="py-2">
      <p class="body-m">A falta de información sobre el tema diseñamos un buscador de enlaces para verificar si se tratan de estafas</p>
    </div>
  </div>
  <div class="bg-dark d-flex justify-content-center">
    <div class="text-center py-4 w-75">
      <div>
        <img class="img-fluid" src="./assets/img/search.png" alt="Buscador de enlaces">
      </div>
      <div>
        <h3 class="body-l fw-bolder text-light">Buscador de Enlaces</h3>
        <h4 class="body-l custom-color-primary">Pega tu enlace y descubre la verdad</h4>
        <div class="input-group mt-3 mx-auto">
          <input type="text" class="form-control" placeholder="Pega tu link...">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
