<div class="bg-dark">
  <div class="border-10 border-dark custom-bg-secondary">
    <div class="text-center">
    <span class="bg-dark text-white body-l fw-bold py-2 py-md-3 px-2 px-md-5 rounded-bottom-5">
      Bienvenid@
    </span>
    </div>
    <div class="container-fluid row mx-auto">
      <div class="col-12 col-md-6 my-4">
        <div class="text-center">
          <label class="text-white headline-4 fw-bold">Te Presentamos a Livia</label>
        </div>
        <div class="mx-auto" style="max-width: 32rem;">
          <label class="text-white body-s p-3 text-justify">
            Nuestra chatbot diseñada para detectar la violencia cibernética y
            robos que le permitirá a las personas y familias adquirir
            conocimiento sobre su salud y bienestar. Además, ofrece una vía
            segura y confidencial para buscar orientación.
          </label>
        </div>
        <div class="mx-auto text-center" style="max-width: 16rem;">
          <img class="img img-fluid" src="./assets/img/Livia.png" alt="Imagen de Livia">
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="container mx-auto my-5 rounded-4 bg-chat">
          <div class="chat-container p-3">
            <div class="row d-flex align-items-center mb-1 mb-md-3">
              <div class="col-2 col-md-1 me-2">
                <img class="img-icon" src="./assets/img/Livia.png" alt="Livia">
              </div>
              <div class="col">
                <p class="chat-bubble mb-0">Hola soy Livia, estoy aquí para ayudarte</p>
              </div>
            </div>
          </div>
          <div class="input-group mt-3 mx-auto">
            <input type="text" class="form-control" placeholder="Escribe un mensaje...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
