<div>
  <div class="my-5">
    <div class="text-center">
      <span class="fs-2 fw-bold">¿Qué son las Ciber Estafas?</span>
    </div>
    <div class="text-center">
      <span class="fs-4">Descubre todo lo que debes saber sobre las ciber estafas y como evitarlas</span>
    </div>
  </div>
  <div class="overlay d-none d-lg-block"></div>
  <div class="container p-5 my-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 d-none d-lg-flex justify-content-center mb-3 translate-x-positive reduce">
        <app-definition-card></app-definition-card>
      </div>
      <div class="col-lg-4 d-flex justify-content-center mb-3 z-3">
        <app-definition-card></app-definition-card>
      </div>
      <div class="col-lg-4 d-none d-lg-flex justify-content-center mb-3 translate-x-negative">
        <app-definition-card></app-definition-card>
      </div>
    </div>
  </div>
</div>
