<div>
  <div class="text-center p-3 pb-md-5">
    <span class="bg-dark text-white body-s fw-bold py-2 py-md-3 px-2 px-md-3 rounded-5">
      Al igual que tú cientas personas han sido victimas
    </span>
  </div>
  <div class="container text-center d-none d-md-block">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-3 d-flex justify-content-center">
        <app-cases-card></app-cases-card>
      </div>
    </div>
  </div>
  <div id="carouselExampleIndicators" class="d-block d-md-none carousel carousel-dark mt-4 slide w-80">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
      <div class="carousel-item">
        <div class="mb-5 d-flex justify-content-center">
          <app-cases-card></app-cases-card>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
