<div>
  <div class="position-fixed z-3 w-100">
    <nav class="navbar navbar-expand bg-light p-0">
      <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
        <i class="fas fa-angle-left fa-flip-vertical fa-lg custom-color-primary mx-2"></i>
        <div class="mx-2"><span class="custom-color-primary fw-bolder">|</span></div>
        <ul class="navbar-nav d-flex justify-content-center">
          <li class="nav-item body-xs">
            <a class="nav-link" aria-current="page" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
          <li class="nav-item d-none d-md-block body-xs">
            <a class="nav-link" href="#">option</a>
          </li>
        </ul>
        <div class="mx-2"><span class="custom-color-primary fw-bolder">|</span></div>
        <i class="fas fa-angle-right fa-flip-vertical fa-lg ms-1 custom-color-primary"></i>
      </div>
    </nav>
    <nav class="nav-bar navbar-expand p-0 custom-bg-primary shadow">
      <div class="container-fluid d-flex justify-content-center align-items-center">
        <span class="navbar-brand p-2 headline-3"> TITTLE</span>
      </div>
    </nav>
  </div>
  <span>hello world</span>
</div>

