<div>
  <nav class="navbar navbar-expand bg-light p-0">
    <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
      <i class="fas fa-angle-left fa-flip-vertical fa-lg custom-color-primary mx-2"></i>
      <div class="mx-2"><span class="custom-color-primary fw-bolder">|</span></div>
      <ul class="navbar-nav d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="#">option</a>
        </li>
      </ul>
      <div class="mx-2"><span class="custom-color-primary fw-bolder">|</span></div>
      <i class="fas fa-angle-right fa-flip-vertical fa-lg ms-1 custom-color-primary"></i>
    </div>
  </nav>
  <nav class="nav-bar navbar-expand p-0 custom-bg-primary p-2">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <span class="navbar-brand mb-0 fs-1 fw-bolder"> EL COMERCIO</span>
    </div>
  </nav>
</div>

