<div class="card shadow" style="width: 13rem;">
  <img src="./assets/img/Types%20image.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-start mb-2 body-s custom-color-primary">¿Qué es el robo cibernetico o el ciber robo?</h5>
    <p class="card-text body-xs text-justify">
      Lorem ipsum dolor sit amet. Est accusantium rerum quo temporibus quibusdam cum corrupti dolorem qui labore
      pariatur sit natus dignissimos ab quis aliquam.
    </p>
    <div class="text-center">
      <button type="button" class="btn btn-warning body-xs fw-bold">Descripción</button>
    </div>
  </div>
</div>
