.selector {
  height: 20px;
  width: 15px;
  background-color: #aaa;
  margin: auto;
  position: relative;
  top: 10px;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #000;
  border-top: 5px solid #000;
  z-index: 1000;
}

#roulette{
  max-height: 80%;
}

.section {
  height: calc(100vh - 115px);
  overflow-x: hidden ;
}
