<div class="section">
  <div class="bg-dark h-100 mt-0">
    <div *ngIf="!curtainsOpened" class="container-fluid h-100 m-0 p-0 row z-2" (click)="OpenCurtains()">
      <div id="curtainLeft" class="col-6 bg-danger h-100 m-0 p-0"></div>
      <div id="curtainRight" class="col-6 bg-danger h-100 m-0 p-0"></div>
    </div>
    <div *ngIf="curtainsOpened" class="d-flex align-items-center justify-content-center w-100 h-100 m-0 p-0" (click)="spinRoulette()">
      <div class="mx-auto h-100 d-flex flex-column justify-content-center">
        <div class="text-center pt-3 pt-md-5">
          <span class="bg-light fs-4 fw-bold fs-md-2 py-2 py-md-3 px-2 px-md-1 rounded-2">Prueba tu suerte</span>
        </div>
        <div class="row pt-3 pt-md-5 m-0 h-75 align-items-center">
          <div class="text-center col-12 h-100">
            <div class="selector"></div>
            <img src="./assets/img/roulette.png" id="roulette" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
