/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "bootstrap/dist/css/bootstrap.css";


.custom-color-primary{
  color: #FFCC01;
}

.custom-bg-primary{
  background-color: #FFCC01;
}

.headline-1{
  font-size: 64px;
  line-height: 72px;
  font-weight: bold;
}

.headline-2{
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
}

.headline-3{
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

.headline-4{
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.body-l{
  font-size: 24px;
  line-height: 32px;
}

.body-m{
  font-size: 18px;
  line-height: 24px;
}

.body-s{
  font-size: 14px;
  line-height: 16px;
}

.body-xs{
  font-size: 11px;
  line-height: 12px;
}
