<div class="card p-2 bg-light rounded-3" style="max-width: 12rem;">
  <div class="row g-0 align-items-center ps-3 pt-3">
    <div class="col-auto">
      <img src="./assets/img/Livia.png" class="card-img-icon img-fluid rounded-circle">
    </div>
    <div class="col-6 ms-2">
      <div class="row text-start">
        <span class="body-s fw-bold">Name</span>
      </div>
      <div class="row text-start text-muted">
        <span class="body-s">1 ene 2024</span>
      </div>
    </div>
  </div>
  <div class="card-body pt-2">
    <h5 class="card-title text-start mb-2 body-s">Qui dolor id maxime non quia voluptas</h5>
    <p class="card-text body-xs text-justify">
      Lorem ipsum dolor sit amet. Est accusantium rerum quo temporibus quibusdam cum corrupti dolorem qui labore pariatur
      sit natus dignissimos ab quis aliquam.
    </p>
  </div>
</div>
