<div class="card p-3 custom-bg-primary rounded-3" style="max-width: 26rem;">
  <div class="row g-0 align-items-center p-2">
    <div class="col-auto">
      <img src="./assets/img/Livia.png" class="card-img-icon img-fluid rounded-circle">
    </div>
    <div class="col ms-3">
      <div class="row">
        <span class="fs-6 fw-bold">Name</span>
      </div>
      <div class="row text-muted">
        <span class="fs-6">1 ene 2024</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title fs-6 mb-4">Qui dolor id maxime laudantium non quia voluptas</h5>
    <p class="card-text fs-6 text-justify">
      Lorem ipsum dolor sit amet. Est accusantium rerum quo temporibus quibusdam cum corrupti dolorem qui labore pariatur
      sit natus dignissimos ab quis aliquam.
    </p>
  </div>
</div>
